.embed-responsive .card-img-top {
    object-fit: cover;
}

.players img {
    width:100%;
    height: 230px;
}

* {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

label[for] { cursor: pointer; }

.grid {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  background-color: #222;
  z-index: 0;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-align-content: flex-start;
  -ms-flex-line-pack: start;
  align-content: flex-start;
  padding: 16px;
  overflow: auto;
  text-align: center;
  -webkit-transition: opacity .75s;
  transition: opacity .75s;
}

.grid .grid-item {
  width: 25%;
  display: inline-block;
  padding: 16px;
  /* opacity: .1;
  -webkit-transition: opacity .5s;
  transition: opacity .5s; */
}

.grid .grid-item:hover { opacity: 1; }

@media screen and (max-width: 1024px) {

.grid .grid-item { width: 50%; }

}

@media screen and (max-width: 480px) {

.grid .grid-item { width: 100%; }

}

.grid img {
  max-width: 100%;
  max-height: 100%;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  filter: grayscale(100%);
}

.grid img:hover {
  filter: grayscale(0%);
  transition: .5s;
}

input[type="checkbox"] { display: none; }

.lightbox {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  min-height: 100%;
  z-index: 1;
  overflow: auto;
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
  -webkit-transition: -webkit-transform .2s ease-out;
  transition: transform .2s ease-out;
  background-color: rgba(0, 0, 0, 0.90);
  filter:blur(3);
}

.lightbox img {
  position: fixed;
  top: 40%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  max-width: 900px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  display: inline-flex;
  flex-direction: column;
  text-decoration: none;
  }

@media only screen and (max-width: 782px) {
  .lightbox img {
    width: 100%;
    }
}

input[type="checkbox"]:checked + .lightbox {
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}

input[type="checkbox"]:checked ~ .grid { opacity: .125; }

.text-block {
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: black;
  color: white;
  padding-top: 25px;
  padding-bottom: 25px;
  margin: 0;
  filter: drop-shadow(-2px -4px 18px black);
  -webkit-filter: drop-shadow(-2px -4px 18px black);
  width: 100%;
  height: 250px;
}

nav {
  
  filter: drop-shadow(2px 4px 18px black);
  -webkit-filter: drop-shadow(2px 4px 18px black);

}

.navbar {
  background-color: black !important;
}
.tags {
  font-family: 'Courier New', monospace;
}

.text-block .row {
  text-align: center;
}